doctype html
html.dark.sl-theme-dark(lang='en')
	head
		meta.link(charset='UTF-8')
		meta.link(name='viewport', content='width=device-width, initial-scale=1.0')
		title cheek setup
		meta.link(name='theme-color' content='black')
		style
			!= css
	body.w-screen.h-screen.flex.items-center.justify-center.bg-stone-900.text-stone-100
		.w-full.md_max-w-xl.flex.flex-col.p-2.md_p-8
			h1.text-3xl.font-bold.font-monospace.text-center.mb-2 cheek
			h2.text-xl.italic.text-center.mb-4 ass cheek. a serverless ShareX server.
			p.text-lg.mb-2 cheek is a ShareX server intended to be hosted via #[a.link(href='https://pages.cloudflare.com' target='_blank') Cloudflare Pages] (Pages Advanced Mode, technically a Worker). It is the child of my other popular project, #[a.link(href='https://github.com/tycrek/ass' target='_blank') ass].
			p.text-lg For more information, please check out the #[a.link(href='https://github.com/tycrek/cheek' target='_blank') GitHub repo].
